In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://scraping-for-beginner.herokuapp.com/udemy'

In [4]:
r = requests.get(url)

In [6]:
soup = BeautifulSoup(r.text,'html.parser')

In [7]:
soup

<!DOCTYPE html>

<html dir="ltr" lang="en">
<head>
<meta charset="utf-8"/>
<title>Webスクレイピング入門者のためのサイト</title>
<!-- Compiled and minified CSS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css" rel="stylesheet"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/> 
  <link href="static/assets/css/style.css" rel="stylesheet"/>
<link href="static/assets/css/udemy.css" rel="stylesheet"/>
<!-- <link rel="stylesheet" href="static/assets/css/mypage.css"> -->
</head>
<body>
<!-- Navbar -->
<div class="navbar-fixed">
<!-- Dropdown Structure -->
<nav class="">
<div class="nav-wrapper row">
<div class="col s5 l4 offset-s1 offset-l1">
<a class="brand-logo" href="/">Webスクレイピング入門</a>
</div>
<div class="col s5 l6">
<ul class="right hide-on-med-and-down" id="nav-mobile">
<li><a class="" href="/login_page">ログイン</a></li>
<li><a class="" href="/ranking/">ランキング</a></li>
<li><a class="" href="/image">画像</a></li>
<li><a class="" href="/udemy">Udemy</a></li>
<li><a class="" href="https://scraping-for-beginner.readthedocs.io/" target="”_blank”">サンプルコード</a></li>
</ul>
</div>
</div>
</nav>
</div>
<div class="row">
<div class="col s4 offset-s4">
<div class="overview">
<p>
      こちらのページは、<b>PythonによるWebスクレイピング〜Webアプリケーション編〜</b>で使用します。
      </p>
</div>
<div class="">
<div class="">
<div class="card">
<div class="card-image">
<img src="/static/assets/img/self-introduction.jpg"/>
<span class="card-title">今西 航平</span>
</div>
<div class="card-content">
<p><b><p class="position">株式会社キカガク 取締役副社長</p></b><br/>

              東京理科大学在学中に株式会社キカガクに1人目の正社員としてジョイン。大学時代4年間、塾講師として「教育」に熱中し、300名以上の中高生の授業を担当。<br/>
</p>
</div>
<div class="card-action">
<p class="subscribers">受講生の数：5229</p>
<p class="reviews">レビューの数：663</p>
</div>
</div>
</div>
</div>
</div>
</div>
<!-- Compiled and minified JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $(".dropdown-trigger").dropdown();
    });
  </script>
</body>
</html>

In [12]:
name = soup.select('.card-title')[0].string
name

'今西 航平'

In [27]:
n_subscribers = soup.select('.subscribers')[0].string
n_subscribers

'受講生の数：5229'

In [25]:
soup.select('.reviews')[0].string

'レビューの数：663'

In [32]:
n_subscribers=int(n_subscribers.split('：')[1])
n_subscribers

5229

In [33]:
n_reviews = soup.select('.reviews')[0].string
n_reviews

'レビューの数：663'

In [37]:
n_reviews = int(n_reviews.split('：')[1])
n_reviews

663

In [39]:
results={
    'name':name,
    'n_subscribers':n_subscribers,
    'n_reviews':n_reviews
}

In [40]:
results

{'name': '今西 航平', 'n_subscribers': 5229, 'n_reviews': 663}

In [41]:
import pandas as pd

In [42]:
df = pd.read_csv('assets/data.csv')

In [43]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [44]:
df.tail()

           date  subscribers  reviews
275  2019/10/19         5191      654
276  2019/10/20         5193      655
277  2019/10/21         5194      656
278  2019/10/22         5197      658
279  2019/10/23         5210      659

In [45]:
import datetime

In [51]:
date = datetime.datetime.today().strftime('%Y/%m/%d').replace('/0','/')
date

'2019/10/24'

In [55]:
subscribers  = results['n_subscribers']
reviews = results['n_reviews']

In [56]:
subscribers

5229

In [57]:
reviews

663

In [59]:
results = pd.DataFrame([[date,subscribers,reviews]],columns =['date','subscribers','reviews'] )
results

         date  subscribers  reviews
0  2019/10/24         5229      663

In [61]:
df = pd.concat([df,results])

In [63]:
df.tail()

           date  subscribers  reviews
276  2019/10/20         5193      655
277  2019/10/21         5194      656
278  2019/10/22         5197      658
279  2019/10/23         5210      659
0    2019/10/24         5229      663

In [64]:
df.to_csv('assets/data.csv',index = False)

 - Udemyから情報を取ってくる関数(get_udemy_info)
 - csvに書き込む関数(write_data)

In [70]:
def get_udemy_info():
    url = 'https://scraping-for-beginner.herokuapp.com/udemy'

    r = requests.get(url)
    soup = BeautifulSoup(r.text,'html.parser')

    name = soup.select('.card-title')[0].string

    n_subscribers = soup.select('.subscribers')[0].string
    n_subscribers=int(n_subscribers.split('：')[1])

    n_reviews = soup.select('.reviews')[0].string
    n_reviews = int(n_reviews.split('：')[1])

    results={
        'name':name,
        'n_subscribers':n_subscribers,
        'n_reviews':n_reviews
    }

    return results

In [67]:
name = soup.select('.card-title')[0].string
name

'今西 航平'

In [68]:
n_subscribers = soup.select('.subscribers')[0].string
n_subscribers

'受講生の数：5229'

In [ ]:
def write_data():
    df = pd.read_csv('assets/data.csv')

    #新規のデータ
    _results = get_udemy_info()

    #書き込むデータ
    date = datetime.datetime.today().strftime('%Y/%m/%d').replace('/0','/')
    subscribers  = _results['n_subscribers']
    reviews = _results['n_reviews']
    results = pd.DataFrame([[date,subscribers,reviews]],columns =['date','subscribers','reviews'] )

    df = pd.concat([df,results])
    df.to_csv('assets/data.csv',index = False)

In [ ]:
subscribers  = results['n_subscribers']
reviews = results['n_reviews']