In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('time-series.csv')

In [4]:
df.head()

         date      AAPL     MSFT
0  2015-01-02  101.9635  42.5999
1  2015-01-05   99.0910  42.2036
2  2015-01-06   99.1003  41.5886
3  2015-01-07  100.4899  42.1170
4  2015-01-08  104.3510  43.3560

In [6]:
df['date']

0       2015-01-02
1       2015-01-05
2       2015-01-06
3       2015-01-07
4       2015-01-08
5       2015-01-09
6       2015-01-12
7       2015-01-13
8       2015-01-14
9       2015-01-15
10      2015-01-16
11      2015-01-20
12      2015-01-21
13      2015-01-22
14      2015-01-23
15      2015-01-26
16      2015-01-27
17      2015-01-28
18      2015-01-29
19      2015-01-30
20      2015-02-02
21      2015-02-03
22      2015-02-04
23      2015-02-05
24      2015-02-06
25      2015-02-09
26      2015-02-10
27      2015-02-11
28      2015-02-12
29      2015-02-13
           ...
976     2018-11-15
977     2018-11-16
978     2018-11-19
979     2018-11-20
980     2018-11-21
981     2018-11-23
982     2018-11-26
983     2018-11-27
984     2018-11-28
985     2018-11-29
986     2018-11-30
987     2018-12-03
988     2018-12-04
989     2018-12-06
990     2018-12-07
991     2018-12-10
992     2018-12-11
993     2018-12-12
994     2018-12-13
995     2018-12-14
996     2018-12-17
997     2018-12-18
998     2018-12-19
999     2018-12-20
1000    2018-12-21
1001    2018-12-24
1002    2018-12-26
1003    2018-12-27
1004    2018-12-28
1005    2018-12-31
Name: date, Length: 1006, dtype: object